<header>
  <img src="http://github.com/rodasos.png" alt="Logo empresa" class="logo" />
  <form action="" class="formulario-buscar">
    <input
      class="input-busqueda"
      type="text"
      name="buscar"
      id="buscar"
      placeholder="Escribe tu busqueda"
    />
    <button>Buscar</button>
  </form>
  <ul class="lista-enlaces">
    <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/productos">Productos</a></li>
    <li><a routerLink="/sobreNosotros">Sobre nosotros</a></li>
    <li><a routerLink="/contacto">Contacto</a></li>
  </ul>
  <span class="material-symbols-outlined"> shopping_cart </span>
  <!-- <app-navbar></app-navbar> -->
</header>
