<h4>Este es el formulario</h4>
<form action="" class="form-ordenar">
  <input
    type="text"
    name="nombre"
    id="nombre"
    required
    placeholder="Nombre completo:"
  />
  <input type="email" name="email" id="email" required placeholder="Email:" />
  <input
    type="text"
    name="telefono"
    id="telefono"
    required
    placeholder="Telfono:"
  />
  <input
    type="date"
    name="fecha"
    id="fecha"
    required
    placeholder="Fecha Hoy:"
  />
  <input
    type="date"
    name="fecha_entrega"
    id="fecha_entrega"
    required
    placeholder="Fecha entrega:"
  />
  <input
    type="text"
    name="motivo"
    id="motivo"
    required
    placeholder="Motivo de reserva:"
  />
  <input
    type="date"
    name="fecha_evento"
    id="fecha_evento"
    required
    placeholder="Fecha evento:"
  />
  <input
    type="text"
    name="lugar"
    id="lugar"
    required
    placeholder="Lugar de evento:"
  />
  <input
    type="text"
    name="forma_pago"
    id="forma_pago"
    required
    placeholder="Forma de pago:"
  />
  <button>Aceptar</button>
</form>
